$text1: #E0E0E0;
$text2:#c5c5d2;
$text3:#8e8ea0;
$textHeading: #B0B0B0 ;
$navBackGround:#202123;
$bodyBack1: #565869;
$bodyBack2:#40414f;
$bodyBack3:#343541;
$btnBack: #3498db;
$btnBtn2: #9b59b6;
$BtnBackImp: #16a085;
$linkActive: rgb(25, 195, 125);