* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

body {
  background: #565869;
  color: #E0E0E0;
}
body #msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3vh;
  right: 0;
  left: 0;
  z-index: 1;
}
body #msg-container #msg-outer {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .nav-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #202123;
  padding: 0.5rem 2rem;
}
body .nav-outer .nav-header {
  font-size: 2rem;
  text-transform: capitalize;
}
body .nav-outer .nav-links-outer {
  font-size: 1.1rem;
}
body .nav-outer .nav-links-outer .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: center;
}
body .nav-outer .nav-links-outer .nav-links li {
  padding-right: 2rem;
}
body .nav-outer .nav-links-outer .nav-links #cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .nav-outer .nav-links-outer .nav-links #cart img {
  width: 2rem;
  margin-right: 0.6rem;
}
body main {
  margin: 2vw 2vw;
  background: #40414f;
  border-radius: 0.5rem;
  box-shadow: 0 0px 12px 1px rgba(255, 255, 255, 0.6);
  min-height: 100vh;
}
