@import "../Shared/Colors.scss";

#home {
    color: $linkActive;
    font-weight: bold;
}

.home-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    position: relative;
    background: $navBackGround;
    flex-wrap: wrap;

    .filter {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;


            li {
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 5vh;
                    flex-wrap: wrap;

                    > img {
                        width: 1rem;
                        margin-right: 0.3rem;
                    }
                }

                cursor: pointer;
                padding: 0.4vw 1vw;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    //display: none;
                    display: block;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    top: 3.8rem;
                    top: 6.5vh;
                    width: inherit;
                    opacity: 1;
                    flex-wrap: wrap;

                    li {
                        background: $navBackGround;
                        width: 100%;


                        &:hover {
                            background: $bodyBack1;
                        }
                    }
                }
            }
        }
    }

    .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .search-input {
            padding: 0 2rem;

            input {
                background: $bodyBack1;
                height: 2.3rem;
                outline: none;
                border: none;
                font-size: 1.2rem;
                border-radius: 0.4rem;
                padding: 1rem;
                width: 100%;
            }
        }

        .search-btn {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0.6rem;
            box-shadow: 0 0 7px 0px;
            cursor: pointer;
            border-radius: 0.4rem;

            img {
                width: 1rem;
            }
        }
    }
}

.home-books {
    .book-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 3vw;
        position: relative;

        .heading {
            color: $text1;
            border-bottom: 1px solid;
            width: 100%;
        }

        .books {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2vw;
            width: 100%;
            transition: 0.7s ease-in-out;
            /*overflow: auto;*/
            flex-wrap: wrap;

            > div {
                margin: 1.5vw;
            }

            .book {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-shadow: 0 0 12px 0px rgb(255 255 255);
                border-radius: 0.4rem;
                background: $bodyBack3;
                .book-img {
                    margin: 1rem;
                    border-radius: 0.4rem;
                    border: 5px solid transparent;
                    background: linear-gradient(to right, #ca4747, #f4c922);
                    width: 10rem;
                    height: 15rem;

                    img {
                        width: 9.4rem;
                        height: 14.4rem;
                    }
                }

                .book-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 0.4rem;

                    > div {
                        padding-bottom: 0.4rem;
                    }

                    .date {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-top: 0.4rem;

                        img {
                            width: 1rem;
                            margin-right: 0.3rem;
                        }
                    }

                    .book-name {
                        font-size: 1.4rem;
                        text-transform: capitalize;
                    }

                    .book-price {
                        font-size: 1.2rem;
                        font-weight: bold;
                        font-family: italic;
                        font-palette: normal;
                    }

                    .desc {
                        text-align: justify;
                        max-width: 11rem;
                        text-transform: lowercase;
                    }

                    .rating {
                        img {
                            width: 1.6rem;
                        }
                    }

                    .cart-btn {
                        width: 100%;


                        input {
                            width: 100%;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            background: $btnBack;
                            height: 2.3rem;
                            border-radius: 0.4rem;
                            margin-bottom: 0.4rem;
                        }
                    }
                }
            }

            .forward-arr {
                position: absolute;
                top: 50%;
                background: black;
                border-radius: 0.4rem;
                width: 2rem;
                margin: 0;
                cursor: pointer;
                right: 3vw;

                img {
                    width: 2rem;
                }
            }

            .back-arr {
                position: absolute;
                top: 50%;
                left: 3vw;
                background: black;
                border-radius: 0.4rem;
                width: 2rem;
                margin: 0;
                cursor: pointer;

                img {
                    width: 2rem;
                }
            }
        }
    }
}

.home-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 3vw;
    padding: 1vw;
    background: $bodyBack3;
    border-radius: 0.4rem;
    box-shadow: 0 0 12px 0px rgb(255, 255, 255);
    flex-wrap: wrap;

    .full-img {
        width: 14rem;
        height: 22rem;
        margin: 0 2rem;

        img {
            width: 14rem;
            height: 22rem;
        }
    }

    .full-desc {
        padding: 0 1rem;
        width: 55vw;

        .full-desc-head {
            font-size: 1.3rem;
            font-weight: bold;

            h1 {
                font-family: 'Times New Roman', Times, serif;
            }
        }

        .full-desc-rating {
            font-weight: bold;
            font-size: 1.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
                margin-right: 1rem;
            }

            img {
                width: 2rem;
            }
        }

        .full-text {
            font-size: 1.03rem;
            line-height: 1.4rem;
            letter-spacing: 0.03rem;

            p {
                font-family: 'Times New Roman', Times, serif;
                text-align: justify;
            }
        }

        .full-book-info {
            flex-wrap: wrap;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            > div {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 2rem;
                    margin: 1rem 0;
                }
            }
        }
    }

    .full-cart {
        .price-info {
            padding: 1rem;
            text-align: center;
            font-size: 1.3rem;
        }

        .quentity {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7rem 0;
            background: $btnBack;
            border-radius: 0.4rem;
            margin: 0.6rem 0;

            > div {
                display: inline-flex;
                padding: 0.3rem;
                border-radius: 0.3rem;
                width: 100%;
                justify-content: center;
                font-weight: bold;

                select {
                    width: 30%;
                    color: inherit;
                    outline: none;
                    background: none;
                    border: none;
                    cursor: pointer;
                    text-align: end;

                    option {
                        background: $bodyBack2;
                    }
                }
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 11rem;
            height: 3rem;
            outline: none;
            border: none;
            background: $BtnBackImp;
            border-radius: 0.4rem;
            cursor: pointer;
            font-weight: bold;

            img {
                margin: 0 0.3rem;
                width: 2rem;
            }
        }
    }
}
#cartFull {
    margin: 3vw;
    padding: 1vw;
    background: $bodyBack3;
    border-radius: 0.4rem;
    box-shadow: 0 0 12px 0px rgb(255, 255, 255);

    .cart-heading {
        font-size: 1.4rem;
        padding: 0.3rem 0;
        border-bottom: 2px solid;
    }

    .cart-total {
        padding: 1rem;
        border-top: 2px solid;
        text-align: end;
    }

    .cart-outer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;


        .cart-body {
            padding: 1rem;
            display: flex;
            justify-content: flex-start;
            background: $bodyBack3;
            margin: 1rem;
            border-radius: 0.4rem;
            box-shadow: 0 0 0 0 white;
        }

        .cart-img {
            img {
                width: 7rem;
                height: 11rem;
            }
        }

        .cart-info {
            padding: 0 3rem;

            > div {
                padding-bottom: 0.7rem;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;

            .quentity {
                width: 6rem;
                height: 2rem;
                margin-right: 1rem;


                > div {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    padding: 0.3rem;
                    background: $BtnBackImp;
                    border-radius: 0.4rem;

                    select {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        background: none;
                        cursor: pointer;

                        option {
                            background: $bodyBack2;
                        }
                    }
                }
            }

            .delete-btn {
                width: 6rem;
                border-radius: 0.4rem;
                background: $btnBack;

                button {
                    outline: none;
                    background: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    .buy-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        border-radius: 0.4rem;
        background: $btnBtn2;

        button {
            width: 100%;
            height: 3rem;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}
