
@{
    ViewData["Title"] = "Home Page";
}
@section style{
    <link rel="stylesheet" asp-append-version="true" href="~/css/Home/Index.css" />
    <style>
        #filteredBooks .book{
            color: black;
            background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
            background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
            background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
        }
</style>
}
<div class="home-filter">
    <div class="filter">
        <ul>
            <li id="genre-li">
                <div>
                    <img src="Images/icons8-catalog-90.png" />
                    <p>Genre</p>
                    <img id="gd" src="images/icons8-dropdown-96.png" />
                </div>
            </li>
            <li id="language-li">
                <div>
                    <img src="Images/icons8-language-90.png" />
                    <p>Language</p>
                    <img id="ld" src="images/icons8-dropdown-96.png" />
                </div>
            </li>
            <!--<li id="year-li">
                <div>
                    <img src="Images/icons8-date-96.png" />
                    <p>Publish Year</p>
                    <img id="yd" src="images/icons8-dropdown-96.png" />
                </div>

            </li>
             <li id="price-li">
                <div>
                    <img src="Images/icons8-price-90.png" />
                    <p>Price</p>
                    <img id="pd" src="images/icons8-dropdown-96.png" />
                </div>
            </li>
            -->
            <li id="country-li">
                <div>
                    <img src="Images/icons8-earth-52.png" />
                    <p>Country</p>
                    <img id="cd" src="images/icons8-dropdown-96.png" />
                </div>
            </li>
        </ul>
    </div>
    <div class="search">
        <div class="search-input">
            <input id="filterInput" type="text" placeholder="Search.." />
        </div>
        <div id="filterBtn" class="search-btn">
            <img src="images/icons8-search-100.png" />
        </div>
    </div>
    <div class="filter">
        <ul>
            <li id="genre-li">
                <a id="clearfilters">Clear All Filters</a>
            </li>
        </ul>
    </div>
</div>
<div id="cartFull" class="cartFull" style="display:none"></div>
<div id="detailInfo" style="display:none"></div>
<div id="filteredBooks" style="background: radial-gradient(black, transparent);" class="home-books"></div>
<div id="home-books" class="home-books"></div>

@section script{
    <script type="text/javascript">
        let bookList = @Html.Raw(Json.Serialize(@ViewData["BookList"])) ;
        console.log(bookList);
    </script>
    <script src="~/js/Home.js"></script>
}
