#home {
  color: rgb(25, 195, 125);
  font-weight: bold;
}

.home-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  position: relative;
  background: #202123;
  flex-wrap: wrap;
}
.home-filter .filter ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.home-filter .filter ul li {
  cursor: pointer;
  padding: 0.4vw 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-filter .filter ul li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  flex-wrap: wrap;
}
.home-filter .filter ul li > div > img {
  width: 1rem;
  margin-right: 0.3rem;
}
.home-filter .filter ul li ul {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 3.8rem;
  width: inherit;
  opacity: 1;
  flex-wrap: wrap;
}
.home-filter .filter ul li ul li {
  background: #202123;
}
.home-filter .filter ul li ul li:hover {
  opacity: 0.8;
}
.home-filter .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.home-filter .search .search-input {
  padding: 0 2rem;
}
.home-filter .search .search-input input {
  background: #565869;
  height: 2.3rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
}
.home-filter .search .search-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  box-shadow: 0 0 7px 0px;
  cursor: pointer;
}
.home-filter .search .search-btn img {
  width: 1rem;
}
