
@import "../Shared/Colors.scss";
#role-btn {
    padding-top: 0;
    width: 45%;

    > div {
        width: 100%;
    }
}
textarea {
    resize: none;
    width: 100%;
    height: 20vh;
    outline: none;
    border: none;
    background:$bodyBack2;
    border-radius:0.4rem;
    padding:0.4rem;
}
#first-last {
    width: 100%;
    align-items:stretch;
}
#select-divs {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    > div {
        width: 45%;
        height: 2rem;
    }
}
#first-last{
    >div{
        >div{
            width:45%;
        }
    }
}
#result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    > p {
        padding: 0.6rem;
        background: black;
        border-radius: 0.4rem;
        cursor: pointer;
        width: 100%;
        background: $bodyBack3;

        &:hover {
            opacity: 0.5;
        }
    }
}
#Authors {
    width: 100%;
    padding: 0.5rem;

    #selected {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.3rem;

        button {
            width: 6rem;
            height: 2rem;
            border-radius: 0.3rem;
            outline: none;
            border: none;
            cursor:pointer;
            background:$btnBtn2;
        }
    }
}

#table {
    max-height: 200vh;
    max-width: 60vw;
}